<%- include("../partials/header") %> 

<link rel="stylesheet" href="">

<%- include("../partials/nav") %> 

<main>
  <h1>Destinations</h1>
  <p>Check to see if the destination is in the dropdown before adding
    <select>
      <% destinations.forEach(function(destination) { %> 
      <option><%= destination.airport %> </option>
    <% }) %> 
    </select>
  </p>
  <form 
    id="add-dest"
    action="/destinations"
    method="POST">
    <label for="dest-input">Destination:</label>
    <input type="text" name="destination" required>
    <button type="submit">Add New Destination</button>
  </form>
</main>




<%- include("../partials/footer")  %> 